iptvboss/*
beta/*
.venv/*
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
subprocess
os
cronitor
cronitor.pyc
__pycache__/cronitor.cpython-311.pyc
